/* reset */

h1,
input,
button {
  padding: 0;
  margin: 0;
}

input,
button {
  background: #FFF;
  border: none;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* babbler */

@-ms-viewport { width: device-width; }

html {
  background: #222;
}

body,
input,
button {
  font: bold 20px/1.5 Arial, sans-serif;
}

body {
  color: #FFF;
  margin: 0 auto;
  max-width: 700px;
}

.hidden {
  display: none;
}

.main-header,
.help-message {
  background: #424254;
}

.main-header .help {
  color: #3A462A;
}

.main-header,
.help-message,
.item {
  margin: 10px;
  padding: 10px;
  position: relative;
}

.main-header,
.item,
.app-title,
.help,
.total-percent,
.total-counter,
.item-name-wrapper,
.item-counter,
.item-percent,
.item-zero,
.item-remove {
  height: 40px;
  line-height: 40px;
}

.app-title,
.help,
.total-counter,
.total-percent,
.item-name-wrapper,
.item-counter,
.item-percent,
.item-zero,
.item-remove {
  position: absolute;
}

.app-title {
  font-size: 20px;
}

.help,
.item-zero,
.item-remove {
  width: 40px;
}

.help,
.item-zero,
.item-remove {
  position: absolute;
  right: 10px;
}

.help-message {
  min-height: 40px;
}

.help-message p {
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
}

.help-message .credits {
  margin-top: 15px;
  text-align: right;
}

.help-message .link {
  background: white;
  color: #3A462A;
  font-weight: bold;
  padding: 5px 10px;
}

.item {
  background: #64908A;
  cursor: pointer;
}

.item .item-name,
.item .item-zero,
.item .item-remove {
  color: #64908A;
}

.item.active {
  background: #CC2A41;
}

.item.active .item-name,
.item.active .item-zero,
.item.active .item-remove {
  color: #CC2A41;
}

#new .item-counter,
#new .item-percent,
#new .item-zero,
#new .item-remove {
  display: none;
}

.item-name-wrapper {
  left: 10px;
  right: 190px;
}

.item-name {
  height: 100%;
  padding: 0 5px;
  width: 100%;
}

.item-name,
.total-counter,
.item-counter,
.total-percent,
.item-percent {
  font-size: 16px;
}

.total-counter,
.item-counter,
.total-percent,
.item-percent {
  text-align: center;
  width: 55px;
}

.total-counter,
.item-counter {
  right: 125px;
}

.total-percent,
.item-percent {
  right: 60px;
}

@media (min-width: 500px) {
  .app-title {
    font-size: 40px;
  }

  .item-name-wrapper {
    right: 220px;
  }

  .item-name,
  .total-counter,
  .item-counter,
  .total-percent,
  .item-percent {
    font-size: 20px;
  }

  .total-counter,
  .item-counter,
  .total-percent,
  .item-percent {
    width: 70px;
  }

  .total-counter,
  .item-counter {
    right: 140px;
  }

  .total-percent,
  .item-percent {
    right: 60px;
  }
}
